body {
  font-family:  Arial;
  justify-content: center;
}

h1{text-align: center;}

* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

h3{
  font-family: Arial;
  text-align: center;
}

ul{display: inline-block; text-align: left;}

svg{padding:25px 25px 25px 25px;
filter: brightness(100%);
width: 12%; height: auto;}

.shape:hover{
filter: brightness(50%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}

.box{
  width: 40%;
  height: 40%;
  border: 8px solid blueviolet;
}




